<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Aplicacion Spring Boot y MongoDB</title>

        <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">

    </head>

    <body>
        <div class="container">
            <br/>
            <h2 th:if="${listEmpleado.isEmpty()}">
                No hay empleado a listar
            </h2>
            <div th:if="!${listEmpleado.isEmpty()}">
                <h2>Mantenimiento de Empleados</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="empleado : ${listEmpleado}">
                            <td th:text="${empleado.nombre}"/>
                            <td th:text="${empleado.apellido}"/>
                            <td th:text="${empleado.edad}"/>
                            <td th:text="${empleado.direccion}"/>
                            <td th:text="${empleado.telefono}"/>
                            <td>
                                <a class="btn btn-primary" th:href="@{/guardar/{id}(id=${empleado.id})}">Editar</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" th:href="@{/eliminar/{id}(id=${empleado.id})}">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <div>
                <a href="/guardar/0" class="btn btn-primary">Agregar</a>
            </div>

        </div>
    </body>
</html>